
.row {
  margin: 10px 0 10px 0;
}
.sort {
  display: inline-block;
  margin-right: 10px;
}
.sortByType {
  display: inline-block;
  margin-left: 10px;
}
.panel {
  height: 200px;
  margin: 0 0 30px;
  .panel-body {
    height: 80%;
  }
  .panel-footer {
    height: 20%;
    div {
      display: inline-block;
    }
    .postType {

    }
    .rating {
      margin: 0 10px 0 10px;
      float: right;
    }
    .upVotes {
      margin-right: 10px;
    }
    .downVotes {
      margin-left: 10px;
    }
  }
}

.panel:first-child {
  margin-left: 0;
}

.panel:last-child {
  margin-right: 0;
}




